# subtree 配置文件，请不要随意修改
 # 子目录$子目录跟踪的远程库$库地址$远程分支 如：sample$sample$url$master指本地的sample目录跟踪远程库sample的master分支
 common$common$git@git-ma.paic.com.cn:sz_smt/common.git$master
 app/src/main/assets/configSystem$configSys$git@git-ma.paic.com.cn:paSmartcity/configSystem.git$master
 common/LibPageRouter$librouter$git@git-ma.paic.com.cn:sz_smt/LibPageRouter.git$master
 baselogin$baselogin$git@git-ma.paic.com.cn:sz_smt/baselogin.git$master
